<!DOCTYPE html>
<html lang="en">
<head>
    <title>GeoVisu web app</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for("static", filename = "headers.css") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename = "style.css") }}">
    <script async="true" src="{{ url_for("static", filename = "script.js") }}"></script>
    <script async="true" src="https://cdn.jsdelivr.net/npm/mathjax@2/MathJax.js?config=AM_CHTML"> </script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
</head>

<body>
    
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="Third navbar example">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">GeoVisu WebApp</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample03">
        <ul class="navbar-nav me-auto mb-2 mb-sm-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{{ url_for("geolocalizer") }}">Geolocalizer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{{ url_for("database") }}">Database</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ url_for("about") }}">About us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="b-example-divider"></div>

  <h1>About us</h1>

  <center>Hi! We are a team of 4 Computer Science students from <a href="https://www.ecoledesponts.fr">Ecole des Ponts ParisTech</a>. <br> If you encounter any issue with this app, please contact us so we can quickly fix it!</center> <br>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-auto">
        <div class="thumbnail">
          <img src="{{ url_for('render_image', filename="salma.jpg") }}">
          <div class="caption">
            <p><center>Salma Hammani (<b>Optimization</b>) <br> (<a href="mailto:salma.hammani@eleves.enpc.fr">salma.hammani@eleves.enpc.fr</a>) </p></center>
          </div>
        </div>
      </div>
      <div class="col-md-auto">
        <div class="thumbnail">
          <img src="{{ url_for('render_image', filename="hannes.jpg") }}">
          <div class="caption">
            <p><center>Hannes Van Overloop (<b>Optimization</b>) <br> (<a href="mailto:hannes.van-overloop@eleves.enpc.fr">hannes.van-overloop@eleves.enpc.fr</a>) </p></center>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-auto">
        <div class="thumbnail">
          <img src="{{ url_for('render_image', filename="paul.jpg") }}">
          <div class="caption">
            <p><center>Paul Barbier (<b>Computer Vision</b>) <br> (<a href="mailto:Paul.BARBIER@eleves.enpc.fr">Paul.BARBIER@eleves.enpc.fr</a>) </p></center>
          </div>
        </div>
      </div>
      <div class="col-md-auto">
        <div class="thumbnail">
          <img src="{{ url_for('render_image', filename="alex.jpg") }}">
          <div class="caption">
            <p><center>Alexandre Lutt (<b>Computer Vision</b>) <br> (<a href="mailto:alexandre.lutt@eleves.enpc.fr">alexandre.lutt@eleves.enpc.fr</a>) </p></center>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Home</a></li>
        <li class="nav-item"><a href="{{ url_for("geolocalizer") }}" class="nav-link px-2 text-muted">Geolocalizer</a></li>
        <li class="nav-item"><a href="{{ url_for("database") }}" class="nav-link px-2 text-muted">Database</a></li>
        <li class="nav-item"><a href="{{ url_for("about") }}" class="nav-link px-2 text-muted">About us</a></li>
      </ul>
      <p class="text-center text-muted"><a href="https://www.ecoledesponts.fr" class="nav-link px-2 text-muted">Ecole des Ponts ParisTech</a></p>
    </footer>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>

</html>