<!DOCTYPE html>
<html lang="en">
<head>
    <title>GeoVisu web app</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for("static", filename = "headers.css") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename = "style.css") }}">
    <script async="true" src="{{ url_for("static", filename = "script.js") }}"></script>
    <script async="true" src="https://cdn.jsdelivr.net/npm/mathjax@2/MathJax.js?config=AM_CHTML"> </script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.js"></script>    

</head>

<body>    
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="Third navbar example">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">GeoVisu WebApp</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample03">
        <ul class="navbar-nav me-auto mb-2 mb-sm-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ url_for("geolocalizer") }}">Geolocalizer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{{ url_for("database") }}">Database</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{{ url_for("about") }}">About us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="b-example-divider"></div>

  <h1>Geolocalizer</h1>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul>
  {% for message in messages %}
    <li>{{ message }}</li>
  {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}

  <center>Please select an image. Keep in mind that only PNG, JPEG and JPG formats will be accepted by our server.</center> <br>

  <div align="center">
      <form method="post" enctype="multipart/form-data">
          <input type="file" name="image" onchange="form.submit()">
      </form>
      {% if position_match %}
        <button onclick="UpdateLocation({{position_match["x"]}}, {{position_match["y"]}})">Compute location</button>
      {% endif %} 
  </div> 

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <div class="shadow-lg bg-white rounded">
            <div style = "margin-top: 30px;">
              <div id="mapid" style="width: 636px; height: 400px;"></div>
            </div>
            <div class="card-body">
              <center class="card-text"> 
                <div id="updated">Our school in Champs-sur-Marne : (48.838°N, 2.586°E) </div>
              </center>
              <div class="d-flex justify-content-between align-items-center"></div>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="shadow-lg bg-white rounded">
            <div id="img_pos" style = "margin-top: 30px;">
            {% if not image_filename %}
              <img id="display_img" src="{{ url_for('render_image', filename="blank.jpg") }}" style="width: 636px; height: 400px;">
            {% endif %}
            {% if image_filename %}
              <img id="display_img" src="{{ url_for('render_image', filename=image_filename) }}" style="width: 636px; height: 400px;">
            {% endif %}
            {% if image_computed %}
              <img id="display_img" style="width: 636px; height: 400px;">
            {% endif %}
            <div class="card-body">
              <center class="card-text">
              {% if image_filename %}
              Your image
              {% endif %}
              </center>
              <div class="d-flex justify-content-between align-items-center"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    var mymap = L.map('mapid').setView([48.838, 2.586], 13);
    var ponts = false;

    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
        maxZoom: 18,
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' +
              'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1
    }).addTo(mymap);

    var popup = L.popup();
    L.marker([48.838, 2.586]).addTo(mymap).bindTooltip("Ecole des Ponts ParisTech");

    function onMapClick(e) {
        popup
          .setLatLng(e.latlng)
          .setContent(e.latlng.toString().substring(7, 13) + "°N, " + e.latlng.toString().substring(18, 24) + "°E")
          .openOn(mymap);   
    }

    function UpdateLocation(x_img, y_img, image_computed) {
      document.getElementById("updated").innerHTML = "Estimated position of your image : (" + x_img + "°N, " + y_img + "°E)";
      document.getElementById("display_img").src = "{{ url_for('render_image', filename="data1_skyline.jpg") }}"
      var new_pos = [x_img, y_img];
      mymap.flyTo(new_pos);
      L.marker(new_pos).addTo(mymap).bindTooltip("Your image has been taken here!");
    } 

    mymap.on('click', onMapClick); 
  </script>

  <div class="container">
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Home</a></li>
        <li class="nav-item"><a href="{{ url_for("geolocalizer") }}" class="nav-link px-2 text-muted">Geolocalizer</a></li>
        <li class="nav-item"><a href="{{ url_for("database") }}" class="nav-link px-2 text-muted">Database</a></li>
        <li class="nav-item"><a href="{{ url_for("about") }}" class="nav-link px-2 text-muted">About us</a></li>
      </ul>
      <p class="text-center text-muted"><a href="https://www.ecoledesponts.fr" class="nav-link px-2 text-muted">Ecole des Ponts ParisTech</a></p>
    </footer>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>

</html>